<section class="hero">
  <div class="container">
    <h1>Hello, I'm <span class="name">Miguel</span></h1>
    <h2>Full Stack Developer</h2>
    <p>
        Hi! I'm Miguel, a passionate full stack developer crafting seamless and scalable web applications from frontend to backend.<br>
        Welcome to my portfolio!
    </p>

    <a routerLink="/project" class="btn btn-primary">View Projects</a>
  </div>
</section>

<section class="about-preview">
  <div class="container">
    <h3>About Me</h3>
    <p>
      I'm a motivated full stack developer early in my journey, <br>
      passionate about creating user-friendly and practical web solutions as I grow my skills.
      <a routerLink="/about" class="read-more">Read More ➡</a>
    </p>
  </div>
</section>

<section class="cta">
  <div class="container">
    <h3>Want to collaborate?</h3>
    <a routerLink="/contact" class="btn btn-primary">Get In Touch</a>
  </div>
</section>
