<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-logo">
      <a routerLink="/">Miguel Dev</a>
    </div>
    <nav class="footer-nav">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/project">Projects</a>
      <a routerLink="/contact">Contact</a>
    </nav>
    <div class="footer-social">
  <a href="https://github.com/miguelkimdavis" target="_blank" aria-label="GitHub">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/miguel-kimathi-a1783a2a7/" target="_blank" aria-label="LinkedIn">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://www.instagram.com/_miguel.iq/" target="_blank" aria-label="Instagram">
    <i class="fab fa-instagram"></i>
  </a>
</div>

  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Miguel Dev. All rights reserved.</p>
  </div>
</footer>
